{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome" class="centered">
                <h1><span>Thank you very much!</span></h1>
            </div>
        </div>
    </div>
{% endblock %}